#maintLink {

display: none;

}

body {
    color: white;
background-image: url("https://portal.mhgi.net/portal/images/bg_comp.jpg");

}

#sigIco {
    color: grey;
}
iframe {
    margin-top: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    top: 50px;
    position: absolute;
    height: 94%;
    width: 100%;
    display: block;
    z-index: -1;
    left: 0;
    overflow: hidden;
}
.astext {
    background: none;
    border: none;
    margin: 0;
    padding-left: 20px;
}
#user {
    color: rgba(229, 227, 222, 1);
    background-color: rgba(61, 62, 65, 1);
}
.mobileMenu a,
hover,
focus {
    color: rgba(229, 227, 222, 1);
    text-decoration: none;
}
#toggleMobile {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 55px;
    width: 100%;
    height: 100%;
    display: block;
    color: rgba(229, 227, 222, 1);
    background-color: rgba(61, 62, 65, 1);
    z-index: 1;
}
.alert {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-left: 5%;
    top: 1px;
}
.headerDivider {
    border-left: 1px solid grey;
    border-right: 1px solid black;
    height: 30px;
    position: absolute;
    left: 180px;
    top: 10px;
}
.popover {
    max-width: 600px;
    width: 400px;
    height: auto;
    text-align: left;
}

#nate {
    margin-left: -5px;
    line-height: 16px;
}
.navbar-header {
    height: 50px;
}
.popover-title {
    background: #ac2a28;
    color: white;
}
#padThis {
    padding-left: 200px;
}
@media (max-width: 1200px) {
    #toggleMobile {
        display: block;
    }
    #smallElement {
        display: none;
    }
}
@media (min-width: 1199px) {
    #toggleMobile {
        display: none;
    }
    #smallElement {
        display: block;
    }
}
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(229, 227, 222, 1);
}
#custom-bootstrap-menu.navbar-default {
    height: 50px !important;
    background-color: rgba(61, 62, 65, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: white;
    background-color: rgba(61, 62, 65, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: rgba(90, 91, 93, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: rgba(90, 91, 93, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #5a5b5d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #5a5b5d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #5a5b5d;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #3d3e41;
}