<configuration>
    <system.web>
    <webServices>
        <protocols>
        
            <add name="HttpGet" />
            <add name="HttpPost" />
        </protocols>
    </webServices>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
       <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny">
          <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    </system.webServer>

</configuration>