h3 {
    padding-left: 3%;
    margin-bottom: 30px;
}

body {
    color: white;
    background-image: url("https://portal.mhgi.net/portal/images/bg_comp.jpg");
    background-size: 500px 1000px;
   
    background-color: #686666;
   
}

.glyphicon-ok {
    color: #04d816;
}

#subBut {

margin-top: 20px;
padding-top: 20px;
padding-bottom: 55px;
font-size: 26px;

}


#resetBut {

    margin-top: 20px;
    
    padding-bottom: 35px;
    font-size: 20px;
    }

    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
    .search { position: relative; }
    .search input { text-indent: 30px;}
    .search .fa-search { 
      position: absolute;
      top: 24px;
      left: 7px;
      font-size: 15px;
    }